<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
  <title>zuic</title>
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-950 text-white flex flex-col gap-2">
  <nav class="bg-gradient-to-r from-slate-800 to-slate-900 p-2 flex flex-row justify-between items-center">
    <a class="px-2 font-extrabold" href="/"> z i u c</a>
    <ul class="flex flex-row gap-2 justify-between p-2">
      <a href="/">
        <li class="p-2 transition hover:bg-slate-950 rounded-sm">home</li>
      </a>
      <a href="/about-me">
        <li class="p-2 transition hover:bg-slate-950 rounded-sm">about me</li>
      </a>
      <a href="/students">
        <li class="p-2 transition hover:bg-slate-950 rounded-sm">students</li>
      </a>
      <a href="/classes">
        <li class="p-2 transition hover:bg-slate-950 rounded-sm">classes</li>
      </a>
    </ul>
  </nav>

  <cointainer class="flex flex-col gap-2 p-2">
    <form hx-post="/api/students"
      class="flex flex-col md:flex-row text-white w-full justify-between p-6 bg-slate-800 rounded-lg">
      <h3 class="font-bold text-2xl text-center">Add new Student</h3>
      <input class="bg-slate-950 p-2 rounded-lg" type="text" name="firstname" placeholder="firstname">
      <input class="bg-slate-950 p-2 rounded-lg" type="text" name="name" placeholder="name">
      <!--
Gender radial selector-->
      <select class="bg-slate-950 p-2 rounded-lg">
        <option selected disabled>
          Select the Gender
        </option>
        <option>
          Male
        </option>
        <option>
          Female
        </option>
        <option>
          Other
        </option>
      </select>
      <input class="bg-slate-950 p-2 rounded-lg" type="date" name="birthdate" placeholder="birthdate">
      <!--
The class selector should be a dropdown with all classes as options. (Provided by the API)
For now hardcoded
-->
      <select class="bg-slate-950 p-2 rounded-lg">
        <option selected disabled>
          Select the Class
        </option>
        <option>
          1A
        </option>
        <option>
          1B
        </option>
        <option>
          1C
        </option>
        <option>
          2A
        </option>
        <option>
          2B
        </option>
        <option>
          2C
        </option>
        <option>
          3A
        </option>
        <option>
          3B
        </option>
        <option>
          3C
        </option>
        <option>
          4A
        </option>
        <option>
          4B
        </option>
        <option>
          4C
        </option>
        <option>
          5A
        </option>
        <option>
          5B
        </option>
        <option>
          5C
        </option>
        <select>
          <button class=" w-fit bg-slate-950 p-2 px-6 rounded-lg hover:bg-slate-600 transition">submit</button>
    </form>
  </cointainer>


</body>

</html>
